# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\UP.01.01\CustomTableWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
